<div id="contact" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <form>
      <h2 id="modal-title">Contact us</h2>
      <div class="modal-row">
        <div class="modal-col">
          <input class="modal-input" type="text" placeholder="Name" />
          <input class="modal-input" type="text" placeholder="Last name" />
          <input class="modal-input" type="email" placeholder="Email" />
          <select class="modal-input select" placeholder="Select an option">
            <option>Select an option</option>
          </select>
        </div>
        <div class="modal-col">
          <textarea
            class="modal-input textarea"
            placeholder="Type something..."
          ></textarea>
          <label id="checkbox">
            <input type="checkbox" />
            <span class="checkbox-custom">
              <img src="/images/check.svg" alt="">
            </span>
            <span class="checkbox-label">Select</span>
          </label>
          <button
            id="modal-btn"
            type="submit"
          >Schedule a FREE Consultation</button>
        </div>
      </div>
    </form>
  </div>
</div>
