// Config
$support-for-ie: false;
$vendor-prefixes: webkit moz ms official;
// Media queries
$xs: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1900px;
// Fonts
$font-sec: "Open Sans", sans-serif;
$font-main: Arial, Helvetica, sans-serif;
// Colors
$N0: #fff;
$N00: #000;
// Header
$link-color: #0055a3;
$btn-color: #84d800;
$btn-size-mobile: 11px;
// Main
$color-background: #fff;
$main-size: 14px;
$btn-size: 16px;
$text-size: 24px;
$text-size-mobile: 17px;
$title-size: 48px;
$title-size-mobile: 30px;
$text-color: #636363;
$btn-color: #0055a3;
// Footer
$color-footer-background: rgba(201, 224, 235, 0.42);
$color-background: #fff;
$color-footer: #373737;
$footer-title: 10px;
$footer-title-mobile: 15px; // Form
$form-title-color: #0055a3;
$form-title-size: 20px;
$placeholder-color: rgba(21, 99, 171, 0.5);
$label-color: rgba(0, 85, 163, 0.52);
$input-border: solid 1px #bce0fd;
