<footer id="footer">
    <div class="container">
      <h6 id="footer-title">LA Online Marketing</h6>
      <ul id="footer-list">
        <li class="footer-item">
          <h4 class="footer-item-title">We are ready for the challenge</h4>
          <a href="mailto:email@mail.com" class="footer-item-link">email@mail.com</a>
        </li>
        <li class="footer-item">
          <h4 class="footer-item-title">497 Cupidatat Rd. Cupidatat, CA 12345</h4>
          <a href="tel:+44123123123" class="footer-item-link">+44 123 123 123</a>
        </li>
      </ul>
    </div>
</footer>