<header id="header">
  <div class="container">
    <a id="logo" href="/">
      <img src="<%- url_for('./images/logo.svg') %>" alt="" />
    </a>
    <nav id="main-nav">
      <% for (var i in theme.menu){ %>
      <a class="main-nav-link" href="#<%-theme.menu[i]%>"><%= i %></a>
      <% } %>
    </nav>
    <div class="header-wrapper">
      <button class="main-nav-btn desktop" uk-toggle="target: #contact" type="button">
        <span>Contact Us</span>
      </button>
      <a class="main-nav-btn mobile" href="tel:8185720234" type="button">
        Call Us
      </a>
      <button id="burger" class="mobile">
        <img src="<%- url_for('./images/burger.svg') %>" alt="" />
      </button>
    </div>
  </div>
</header>
